body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

div.dark-mode {
    background-color: #212121;
    color: #f0f0f0;
}

@media (max-width: 600px) {
    div.dark-mode {
        background-color: #1c1c1c; /* Further increased contrast */
        color: #d0d0d0; /* Adjusted for improved readability */
    }
}